* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 1000px;
  padding: 0 20px;
  width: 100%;
  margin: 0 auto;
}

.header {
  height: 85px;
  align-items: center;
  display: flex;
}
.header__container {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.header__logo {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: black;
  text-decoration: none;
}
.header__search {
  padding-right: 5px;
  display: flex;
  align-items: center;
}
.header__input {
  height: 20px;
}
.header__input {
  border: none;
}
.header__list {
  list-style: none;
  display: flex;
  gap: 30px;
}
.header__link {
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.nn {
  background: black;
  height: 200px;
}

.hero {
  height: 467px;
  background: #FBFBFB;
}
.hero__container {
  display: flex;
}
.hero__blog {
  padding-top: 131px;
  padding-left: 40px;
}
.hero__title {
  color: #000;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-bottom: 20px;
}
.hero__subtitle {
  color: #4A5568;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.hero__gallery {
  padding-top: 70px;
}

.blog {
  padding: 30px 0 40px 0;
}
.blog__border {
  border-radius: 5px;
  border: 1px solid #E2E2E2;
  background: #FFF;
  box-shadow: 0px 5px 4px 0px rgba(221, 221, 221, 0.25);
  height: 243px;
  padding-left: 54px;
  display: flex;
  justify-content: space-between;
}
.blog__hero-title {
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #2D3748;
  padding-top: 41px;
}
.blog__hero-text {
  color: #718096;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 403px;
  padding-top: 27px;
}
.blog__hero-bottom {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
}
.blog__hero-bottom-date {
  color: #718096;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.blog__hero-bottom-btn {
  color: #2D3748;
  font-size: 12px;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
}
.blog__col {
  display: flex;
  justify-content: space-between;
  padding-top: 43px;
}
.blog__card {
  height: 382px;
  width: 300px;
  border-radius: 5px;
  box-shadow: 0px 4px 4px 0px rgba(192, 189, 189, 0.25);
}
.blog__card-gallary-img {
  width: 100%;
}
.blog__card-top {
  padding: 18px 25px 22px 16px;
}
.blog__card-title {
  color: #2D3748;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 15px;
}
.blog__card-text {
  color: #718096;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.blog__card-bottom {
  display: flex;
  justify-content: space-between;
  padding: 0 24px 24px 16px;
}
.blog__card-bottom-date {
  color: #718096;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.blog__card-bottom-btn {
  color: #2D3748;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
}

.oder {
  padding-bottom: 190px;
}
.oder__content {
  background: #F7FAFC;
  display: flex;
}
.oder__blog-top {
  padding: 98px 66px 0 63px;
}
.oder__blog-title {
  color: #000;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  max-width: 311px;
  margin-bottom: 24px;
}
.oder__blog-text {
  max-width: 311px;
  color: #718096;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.oder__blog-bottom {
  display: flex;
  justify-content: space-between;
  padding: 31px 66px 118px 63px;
}
.oder__blog-bottom-date {
  color: #4A5568;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.oder__blog-bottom-btn {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
}
.oder__blog-gallary {
  width: 525px;
  height: 500px;
}
.oder__blog-gallary-img {
  width: 100%;
  height: 100%;
}